
//color
$color-back : #fffef2;
$color-dark : #252525;
$color-font : #333333;
$color-gray : #888;
$color-red : #ca7379;
$white : #F7F5E8;


//size
$size-content: 1733px;
$size-basic : 10px;

//font
$font-12 : 12px;
$font-14 : 14px;
$font-16 :16px;
$font-20 : 20px;
$font-30 : 30px;
$font-40 : 40px;
$font-50 : 50px;
$full: 100%;

//단축형
$content:$size-content;
$basic:$size-basic;


$back:$color-back;
$dark:$color-dark;
$color:$color-font;
$red:$color-red;

